<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <span style="color:blue;font-family: 'Times New Roman';">F</span>
            <span style="color:red;font-family:'Times New Roman'">u</span>
            <span style="color:orange;font-family: 'Times New Roman'">n</span>
            <span style="color:blue;font-family: 'Times New Roman'">d</span>
            <span style="color:lightgreen;font-family: 'Times New Roman'">o</span>
            <span style="color:red;font-family: 'Times New Roman'">o</span>
            <span style="color:blue;font-family: 'Times New Roman'">A</span>
            <span style="color:red;font-family:'Times New Roman'">d</span>
            <span style="color:orange;font-family: 'Times New Roman'">m</span>
            <span style="color:blue;font-family: 'Times New Roman'">i</span>
            <span style="color:lightgreen;font-family: 'Times New Roman'">n</span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-5" >
                  <li class="nav-item">
                      <a class="nav-link" href="admindashboard/orderlist" >Orders</a></li>
                   <li class="nav-item">
                       <a class="nav-link" >ShowUnApproved Answer</a></li>
                    <li class="nav-item" ><a class="nav-link" href="" href="admindashboard/userlist">showUser/Hide</a></li>
                    <li class="nav-item"><a class="nav-link" style="cursor:pointer" (click)="logout()">LogOut</a></li>
                     
                     </ul> 
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </form>
           
    </div>
    </div>
</nav>
<router-outlet></router-outlet>
