.title{
    color:white;
}
.nav > li{
    padding:5px;
}
body{
  font-family:'Times New Roman';
  
}
/*thead th {
  border-bottom-width: 2px;
  width: 400px;

  background-color: gray;
}*/
.navbar-dark .navbar-nav .nav-link{
  color:white;
  font-size:12px;
  
}